@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: #0f172a;
  -webkit-touch-callout: none;  /* disables standard browser menus on e.g long hold on links */
  -webkit-user-select: none;    /* users cannot highlight text on our app labels */
  user-select: none;            /* ditto */
}

.pt-safe {
  padding-top: max(0.5rem, env(safe-area-inset-top)); /* reads user device hardware height, uses larger of 0.5rem (8px) and read info */
}